.academy-test-preamble {
    text-align: justify;
}

.academy-post-test-question > td {
    padding-top: 3px!important;
    padding-bottom: 3px!important;
}

.academy-post-test-question > td:nth-child(1) {
    width: 100px;
    vertical-align: middle;
}

.academy-post-test-question > td:nth-child(2) {
    width: 57px;
    vertical-align: middle;
    text-align: center;
    font-size: 150%;
    background-color: #CCCCCC;
}

.academy-post-test-question > td:nth-child(3) {

}

.question-inner {
    width: 100%;
    border-style: none;
    padding: none;
    margin: none;
    text-align: justify;
}

.academy-post-test-test {
    counter-reset: question;
}

.academy-question-order::before {
    list-style-position: inside;
    counter-increment: question;
    content: counter(question, decimal);
}

.academy-post-test-question {
    counter-reset: answer;
}

.academy-answer-name::before {
    list-style-position: inside;
    counter-increment: answer;
    content: counter(answer, lower-alpha) ".-";
    margin-right: 6px;
    font-weight: bold;
}

.academy-answer-name {
    margin-right: 18px;
}

