.oe_kanban_academy_training_action h4 {
    margin-top: 0px!important;
}

.oe_kanban_academy_training_action li {
    line-height: 1.5em;
}

.oe_kanban_academy_training_action .row {
    clear: both;
    margin-top: 1em;
}

.o_ellipsis {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}


