.oe_page_units .pre-scrollable {
    max-height: 180px;
    height: 180px;
}

.academy-training-action-unit-control-selector tr.selected {
    font-weight: bold;
}

.academy-training-action-unit-control-selector {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


.academy-training-action-unit-control-selector thead tr th:last-child,
.academy-training-action-unit-control-selector tbody tr td:last-child {
    max-width: 25px;
    width: 25px;
    text-align: center;
}

.academy-training-action-unit-control-selector tbody tr td:nth-child(1),
.academy-training-action-unit-control-selector tbody tr td:nth-child(3),
.academy-training-action-unit-control-selector tbody tr td:nth-child(4),
.academy-training-action-unit-control-selector tbody tr td:nth-child(5),
.academy-training-action-unit-control-selector tbody tr td:nth-child(6),
.academy-training-action-unit-control-selector thead tr th:nth-child(1),
.academy-training-action-unit-control-selector thead tr th:nth-child(3),
.academy-training-action-unit-control-selector thead tr th:nth-child(4),
.academy-training-action-unit-control-selector thead tr th:nth-child(5),
.academy-training-action-unit-control-selector thead tr th:nth-child(6) {
    width: 8%;
    text-align: center;
}

.academy-training-action-unit-control-selector thead tr th:nth-child(2) {
    width: 60%;
}
