
article.academy-rebasing-exercise table {
    width: 100%;
    font-size: 90%;
}

article.academy-rebasing-exercise table th,
article.academy-rebasing-exercise table td {
    vertical-align: middle;
    text-align: center;
}

article.academy-rebasing-exercise table tbody th,
article.academy-rebasing-exercise table tbody td {
    font-style: monospace;
}


@media print {
    article.academy-rebasing-exercise table tbody td * {
        display: none;
    }
}

article.academy-rebasing-exercise table tbody th + td *,
article.academy-rebasing-exercise table tbody td + td * {
    display: none;
}
