
/*-- Test
Styles applied over the test global area, its header and other related items
-----------------------------------------------------------------------------*/
/*section.academy-post-test-test .academy-test-header {
    margin-bottom: 3px;
    text-align: justify;
}

section.academy-post-test-test .academy-test-opcions-row {
    text-align: right;
}
*/

/*-- Question list
Styles applied over the group of questions (main OL and LI tags)
-----------------------------------------------------------------------------*/

section.academy-post-test-test ol.academy-question-ids {
    counter-reset: list;
    padding: 0px;
    margin: 0px;
}

section.academy-post-test-test  li.academy-question {
    list-style-type: none;
    page-break-inside: avoid;

    display: block;
    margin: 0px 0px 12px 0;
}

.academy-test-preamble {
    white-space: pre-line;
    margin: 0px;
    text-align: justify;
    margin-bottom: 12px;
}


/*-- Question item in show mode
Styles applied over each one of the questions and items inside
This styles will be applied inside «academy_post_test_question_edit» and
««academy_post_test_question_show» templates
-----------------------------------------------------------------------------*/

article.academy-post-test-question {
    margin: 0;
    padding: 0;
}

article.academy-post-test-question .panel-title,
article.academy-post-test-question p.academy-question-name {
    display: list-item;
    margin: 6px 0px;
    text-align: justify;
}

article.academy-post-test-question .panel-title::before,
article.academy-post-test-question p.academy-question-name::before {
    list-style-position: inside;
    counter-increment: list;
    content: counter(list, decimal) ".- ";

    margin: 6px 0px;
}

article.academy-post-test-question p.academy-question-preamble {
    white-space: pre-line;
    margin: 0px;
    text-align: justify;
}



/*-- Question edit mode
-----------------------------------------------------------------------------*/
/*
article.academy-post-test-question-edit img.ir-attachment-image-datas {
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
}
*/


/*-- Answer item in edit mode
Styles applied over each one of the answers and items inside
-----------------------------------------------------------------------------*/
/*
article.academy-post-test-question-edit li.academy-answer {
    position: relative;
    vertical-align: middle;
    height: 34px;
    margin-top: 6px;
}

article.academy-post-test-question-edit textarea {
    margin: 6px 0;
}

article.academy-post-test-question-edit div.academy-answer-name-disposition {
    position: absolute;
    left: 57px;
    right: 0px;
    top: 0px;
}

article.academy-post-test-question-edit .academy-answer-is_correct-disposition {
    position: absolute;
    left: 25px;
    width: 25px;
    top: -5px;
}

article.academy-post-test-question-edit .academy-question-edit-footer {
    text-align: right;
}
*/
/*-- Answer list
Styles applied over the group of answers
-----------------------------------------------------------------------------*/

article.academy-post-test-question ol.academy-answer-ids {
    counter-reset: list;

    padding: 0px 0px 0px 6mm;
    margin: 0px;
}

article.academy-post-test-question ol.academy-answer-ids > li.academy-answer {
    list-style-position: inside;
    list-style-type: none;
}

article.academy-post-test-question ol.academy-answer-ids > li::before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
}



/*-- Question options toolbar
Styles applied over area, buttons and other related items
-----------------------------------------------------------------------------*/
/*
section.posted-test-body .academy-question-options {
    margin-top: 12px;
    vertical-align: bottom;
}

section.posted-test-body .academy-question-options:first-child {
    margin-top: 0pt;
}

section.posted-test-body .academy-question-options > button {
    min-width: 24px;
}

section.posted-test-body .popover-content {
    white-space: pre-line;
}

*/

/*-- Image attachements subtemplate
Styles applied over images, figure, figcaption and other related items
-----------------------------------------------------------------------------*/

div.ir-attachment-image-ids figure {
    margin: 6px auto!important;
}

div.ir-attachment-image-ids figcaption.ir-attachment-image-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    margin-top: 3px;
}

div.ir-attachment-image-ids img {
    margin-left: auto;
    margin-right: auto;
}

/*-- Style for print
Styles applied when document is printed
-----------------------------------------------------------------------------*/
/*

*/
/*
.popover-content {
    overflow: auto;
    white-space: pre-line;
}*/
/*
.footer > div.text-center,
.header > .row {
    display: none;
}



*/



.academy-test-report-header-title,
.academy-test-report-header-date,
.academy-test-report-header-category,
.academy-test-report-header-image {
    padding: 0px;
}

.academy-test-report-header-title h1 {
    height: 24px;

    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;

    vertical-align: bottom;
    padding-bottom: 1px;
    margin-bottom: 1px;

    border-bottom: 5px double black;
    text-transform: uppercase;
}


.academy-test-report-header-date
.academy-test-report-header-category {
    height: 20px;

    vertical-align: top;
    padding-top: 1px;
}

.academy-test-report-header-image {
    height: 45px;

    vertical-align: middle;
}

.academy-test-report-footer-editor,
.academy-test-report-footer-counter {
    border-top: 2px solid black;
    padding-top: 1px;
    font-family: Arial;
    font-size: 10pt;
    padding: 0px;
}

.academy-test-report-footer-counter .text-muted {
    color: inherit!important;
}

.line-between-test-and-answers {
    page-break-after: always;
    visibility: visible;
}

@media print {
    section.posted-test-body .ir-attachment-image-ids .figure {
        border-style: none;
        max-width: 25%;
        padding: 0 5px;
    }

    img {
        margin: 0 auto;
        width: auto;
        height: auto;
        display: block;
    }

    section.academy-post-test-test  li.academy-question {
        border-style: none!important;
        padding: 0;
        margin: 0;
    }
}

