.view_academy_answer_tree_x2many [data-field="is_correct"] {
    max-width: 0;
    width: 40px;
    text-align: center;
}

.view_academy_answer_tree_x2many [data-id="is_correct"] {
    max-width: 0;
    width: 40px;
    padding: 0;
    text-align: center;
}

[data-field="cmd_open_in_form"] {
    width: 25px;
}

[data-field="cmd_open_in_form"] button {
    padding: 0px!important;
    background: transparent!important;
    font: 14px FontAwesome!important;
    border: none!important;
}

div.oe_title h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
