@media print {
    #at-post-test-content * {
        font-size: 95%!important;
    }

    #at-post-test-content li {
        margin: 0!important;
        padding-bottom: 0!important;
    }

    #at-post-test-content p {
        padding: 0!important;
        margin: 0!important;
    }

    #at-post-test-content > ol {
        padding-left: 0!important;
    }
}

li.at-post-test-question {
    list-style-position: inside;
    margin-bottom: 0.5em;
    padding: 3px 6px;
}

li.at-post-test-question:focus {
    outline: none!important;
}

li.at-post-test-question:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

li.at-post-test-question > div > ol {
    list-style-type: lower-alpha;
    padding-left: 6mm;
}

p.at-question-preamble {
    white-space: pre-line;
}

.btn-icon {
    outline: none!important;
    text-decoration: none!important;
    background-color: transparent;
    padding: 0px;
    box-shadow: none!important;
}

.btn-icon:active,
.btn-icon:target {
    text-shadow: 1px 1px #cccccc;
}

#impugnment-modal #name {
    background-color: #D2D2FF;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    li.at-post-test-question {
        page-break-inside: avoid;
    }
}

form.at-post-test-question-edit input:focus,
form.at-post-test-question-edit textarea:focus,
form.at-post-test-question-edit input:active,
form.at-post-test-question-edit textarea:active,
form.at-post-test-question-edit input,
form.at-post-test-question-edit textarea {
    box-shadow: none;
    border: none;
    padding: 2px 12px;
    height: auto;
}

form.at-post-test-question-edit textarea {
    font-style: italic;
}

/*form.at-post-test-question-edit input:focus,
form.at-post-test-question-edit textarea:focus,
form.at-post-test-question-edit input:active,
form.at-post-test-question-edit textarea:active {x
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border: 1px solid rgb(204, 204, 204);
}*/

table.post-tests th:nth-child(3),
table.post-tests td:nth-child(3),
table.post-tests th:nth-child(4),
table.post-tests td:nth-child(4) {
    text-align: center;
}

.answers-table td,
.answers-table th {
    min-width: 120px;
}

.answers-table td:first-child,
.answers-table td:nth-child(2),
.answers-table th:first-child,
.answers-table th:nth-child(2) {
    text-align: center;
}

.answers-table-question,
.answers-table-answer {
    width: 10%;
}

.answers-table-description {
    width: 80%;
}
