/*-- Test
Styles applied over the test global area, its header and other related items
-----------------------------------------------------------------------------*/
section.academy-post-test-test .academy-test-header {
    margin-bottom: 3px;
    text-align: justify;
}

section.academy-post-test-test .academy-test-opcions-row {
    text-align: right;
}

section.academy-post-test-test .academy-test-preamble {
    white-space: pre-line;
    margin: 0px;
    text-align: justify;
    margin-bottom: 12px;
}

/*-- Question list
Styles applied over the group of questions (main OL and LI tags)
-----------------------------------------------------------------------------*/

section.academy-post-test-test ol.academy-test-question-ids {
    counter-reset: list;
    padding: 0px;
    margin: 0px;
}

section.academy-post-test-test  li.academy-test-question {
    list-style-type: none;
    page-break-inside: avoid;

    display: block;
    padding: 0px 0px 12px 0;
    margin: 0px 0px 12px 0;
    border-bottom: 1px solid #CCCCCC;
    text-align: justify;
}


/*-- Question item in show mode
Styles applied over each one of the questions and items inside
This styles will be applied inside «academy_post_test_question_edit» and
««academy_post_test_question_show» templates
-----------------------------------------------------------------------------*/

article.academy-post-test-question {
    margin: 0;
    padding: 0;
}

article.academy-post-test-question .panel-title,
article.academy-post-test-question p.academy-test-question-name {
    display: list-item;
    margin: 6px 0px;
    text-align: justify;
}

article.academy-post-test-question .panel-title::before,
article.academy-post-test-question p.academy-test-question-name::before {
    list-style-position: inside;
    counter-increment: list;
    content: counter(list, decimal) ".- ";

    margin: 6px 0px;
}

article.academy-post-test-question p.academy-test-question-preamble {
    white-space: pre-line;
    margin: 0px;
    text-align: justify;
}



/*-- Question edit mode
-----------------------------------------------------------------------------*/

article.academy-post-test-question-edit img.ir-attachment-image-datas {
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
}



/*-- Answer item in edit mode
Styles applied over each one of the answers and items inside
-----------------------------------------------------------------------------*/

article.academy-post-test-question-edit li.academy-test-answer {
    position: relative;
    vertical-align: middle;
    height: 34px;
    margin-top: 6px;
}

article.academy-post-test-question-edit textarea {
    margin: 6px 0;
}

article.academy-post-test-question-edit div.academy-test-answer-name-disposition {
    position: absolute;
    left: 57px;
    right: 0px;
    top: 0px;
}

article.academy-post-test-question-edit .academy-test-answer-is_correct-disposition {
    position: absolute;
    left: 25px;
    width: 25px;
    top: -5px;
}

article.academy-post-test-question-edit .academy-test-question-edit-footer {
    text-align: right;
}

/*-- Answer list
Styles applied over the group of answers
-----------------------------------------------------------------------------*/

article.academy-post-test-question ol.academy-test-answer-ids {
    counter-reset: list;

    padding: 0px 0px 0px 6mm;
    margin: 0px;
}

article.academy-post-test-question ol.academy-test-answer-ids > li.academy-test-answer {
    list-style-position: inside;
    list-style-type: none;
}

article.academy-post-test-question ol.academy-test-answer-ids > li::before {
    content: counter(list, lower-alpha) ") ";
    counter-increment: list;
}



/*-- Question options toolbar
Styles applied over area, buttons and other related items
-----------------------------------------------------------------------------*/

section.posted-test-body .academy-test-question-options {
    margin-top: 12px;
    vertical-align: bottom;
}

section.posted-test-body .academy-test-question-options:first-child {
    margin-top: 0pt;
}

section.posted-test-body .academy-test-question-options > button {
    min-width: 24px;
}

section.posted-test-body .popover-content {
    white-space: pre-line;
}



/*-- Image attachements subtemplate
Styles applied over images, figure, figcaption and other related items
-----------------------------------------------------------------------------*/

div.ir-attachment-image-ids .figure,
div.ir-attachment-image-ids a {
    display: block;
    width: 100%;
    margin-top: 12px;
}

div.ir-attachment-image-ids figcaption.ir-attachment-image-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

div.ir-attachment-image-ids img {
    margin-left: auto;
    margin-right: auto;
}

/*-- Style for print
Styles applied when document is printed
-----------------------------------------------------------------------------*/

@media print {
    section.posted-test-body .ir-attachment-image-ids .figure {
        border-style: none;
        max-width: 25%;
        padding: 0 5px;
    }

    img {
        margin: 0 auto;
        width: auto;
        height: auto;
        display: block;
    }

    section.academy-post-test-test  li.academy-test-question {
        border-style: none!important;
        padding: 0;
        margin: 0;
    }
}


.popover-content {
    overflow: auto;
    white-space: pre-line;
}
