.answers-table td,
.answers-table th {
    text-align: center;
}

.answers-table td:nth-child(3) {
    white-space: pre-line;
    overflow: auto;
    text-align: left;
}

.answers-table td:nth-child(3),
.answers-table td:nth-child(4),
.answers-table td:nth-child(5) {
    font-size: 75%;
}

.answers-table th:nth-child(1) { width: 5%; }
.answers-table th:nth-child(2) { width: 5%; }
.answers-table th:nth-child(3) { width: 55%; }
.answers-table th:nth-child(4) { width: 15%; }
.answers-table th:nth-child(5) { width: 20%; }

.answers-table-question {
    width: 75px;
}

.answers-table-answer {
    width: 75px;
}

.answers-table-description {

}
