.answers-table td,
.answers-table th {
    text-align: center;
}

.answers-table td:nth-child(3){
    white-space: pre-line;
    overflow: auto;
    font-size: 75%;
    text-align: left;
}

.answers-table-question {
    width: 75px;
}

.answers-table-answer {
    width: 75px;
}

.answers-table-description {

}
