    section.posted-test-body ol.at-question-ids {
        counter-reset: list;
        padding: 0px;
        margin: 0px;
    }

    section.posted-test-body li.at-question {
        list-style-type: none;
        page-break-inside: avoid;
    }

    section.posted-test-body p.at-question-preamble {
        white-space: pre-line;
        margin: 0px;
        text-align: justify;
    }

    section.posted-test-body p.at-question-name {
        margin: 6px 0px;
        text-align: justify;
    }

    section.posted-test-body p.at-question-name:before {
        list-style-position: inside;
        counter-increment: list;
        content: counter(list, decimal) ".- ";

        margin: 6px 0px;
    }

    section.posted-test-body ol.at-answer-ids {
        counter-reset: list;

        padding: 0px 0px 0px 6mm;
        margin: 0px;
    }

    section.posted-test-body ol.at-answer-ids > li.at-answer {
        list-style-position: inside;
        list-style-type: none;
    }

    section.posted-test-body ol.at-answer-ids > li:before {
        content: counter(list, lower-alpha) ") ";
        counter-increment: list;
    }

    section.posted-test-body li.at-question {
        display: block;
        margin: 12px 0px;
        text-align: justify;
    }

    section.posted-test-body p.at-question-name {
        display: list-item;
    }

    section.posted-test-body .at-question-options {
        margin-top: 12px;
        vertical-align: bottom;
    }

    section.posted-test-body .at-question-options:first-child {
        margin-top: 0pt;
    }

    section.posted-test-body .at-question-options > button {
        min-width: 24px;
    }

    section.posted-test-body .ir-attachment-image-ids .figure,
    section.posted-test-body .ir-attachment-image-ids a {
        display: block;
        width: 100%;
        margin-top: 12px;
    }

    section.posted-test-body figcaption.ir-attachment-image-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

    section.posted-test-body .at-test-header {
        margin-bottom: 3px;
        text-align: justify;
    }

    section.posted-test-body .at-test-opcions-row {
        text-align: right;
    }

    @media print {
        section.posted-test-body .ir-attachment-image-ids .figure {
            border-style: none;
            max-width: 25%;
            padding: 0 5px;
        }

        section.posted-test-body .ir-attachment-image-ids img {
            margin: 0 auto;
            max-width: 320px;
            max-height:240px;
        }
    }
